.image-container {
    position: relative;
    overflow: hidden;
    background-image: url(https://github.com/DaniCarmo/PattersonArchitecture/blob/main/images/banner-image.jpg?raw=true);
    background-size: cover;
    height: 800px;
}